{% form_theme form '@CHCookieConsent/form/cookie_consent_theme.html.twig' %}

{% block script %}
    <script src="{{ asset('bundles/chcookieconsent/js/cookie_consent.js') }}"></script>
{% endblock %}

<div class="ch-cookie-consent">
    <div class="ch-cookie-consent__header">
        {% block title %}
            <h3>{{ 'ch_cookie_consent.title'|trans({}, 'CHCookieConsentBundle') }}</h3>
        {% endblock %}

        {% block intro %}
            <p class="small">{{ 'ch_cookie_consent.intro'|trans({}, 'CHCookieConsentBundle') }}</p>
        {% endblock %}

        {% block read_more %}
            <a href="{% block read_more_link %}/prywatnosc{% endblock %}">{{ 'ch_cookie_consent.read_more'|trans({}, 'CHCookieConsentBundle') }}</a>
        {% endblock %}
    </div>

    <div class="ch-cookie-consent__form-simple">
        <input type="button" class="btn btn-primary ch-cookie-consent__btn-enter" value="Przejdź do strony">
        <input type="button" class="btn btn-secondary  ch-cookie-consent__btn-select" value="Modyfikuj">
    </div>

    <div class="ch-cookie-consent__form-group">
        {{ form_start(form, {'attr': {'class': 'ch-cookie-consent__form'}}) }}
        <div class="ch-cookie-consent__category-group">
            <div class="ch-cookie-consent__category">
                <div class="ch-cookie-consent__category-toggle">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" disabled="disabled" checked="checked">
                        <label class="form-check-label">Tak</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" disabled="disabled" class="form-check-input" value="false">
                        <label class="form-check-label">Nie</label>
                    </div>
                </div>
                <div class="ch-cookie-consent__category-information">
                    <h4 class="ch-cookie-consent__category-title">Funkcjonalne.</h4>
                    <p class="ch-cookie-consent__category-description">Ciasteczka niezbędne do funkcjonownaia
                        serwisu</p>
                </div>
            </div>
            {% for child in form %}
                {% if child.vars.block_prefixes[0] != 'button' %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="ch-cookie-consent__btn-group">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>

